<!-- top navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a [routerLink]="['/widget-list]"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left sw-text-black"></span>
      </a>
    </p>
    <a [routerLink]="['/widget-chooser]"
       class="pull-left navbar-brand thick">
      <b>Widget edit</b>
    </a>
    <a [routerLink]="['/widget-list]"
       class="navbar-link navbar-text pull-right sw-icon-padding">
      <span class="glyphicon glyphicon-ok sw-text-black"></span>
    </a>
  </div>
</nav>

<!--form-->
<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="heading-name">Name</label>
      <input type="text"
             id="heading-name"
             placeholder="Name of the heading"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label for="heading-text">Text</label>
      <input type="text"
             id="heading-text"
             placeholder="Text of the heading"
             value="Countryside Ragdolls"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label for="heading-size">Size</label>
      <input type="number"
             id="heading-size"
             placeholder="Size of the heading"
             value="3"
             class="form-control"/>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <a [routerLink]="['/widget-list]"
           class="btn btn-warning btn-block">Cancel</a>
      </div>
      <div class="col-xs-6">
        <a [routerLink]="['/widget-list]"
           class="btn btn-danger btn-block">Delete</a>
      </div>
    </div>
  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid navbar-text">
    <a [routerLink]="['/profile]">
      <span class="glyphicon glyphicon-user sw-icon-padding pull-right"></span>
    </a>
  </div>
</nav>
