<!--video-->
<div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/OdNyue6iBQY"
            frameborder="0"
            allowfullscreen></iframe>
    <div class="sw-video-icon-right">
      <a routerLink="/widget-youtube">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#">
        <span class="glyphicon glyphicon-menu-hamburger sw-text-black"></span>
      </a>
    </div>
  </div>
</div>
