<nav class="navbar navbar-default navbar-fixed-top sw-nav-blue">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <a [routerLink]="['/profile]"
       class="navbar-header pull-left navbar-brand thick">
      <b class="sw-text-white">Profile</b>
    </a>


    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile]" class="navbar-link">
        <span class="glyphicon glyphicon-ok sw-text-white"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container">

  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             value="jannunzi"
             placeholder="walice">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email"
             class="form-control"
             id="email"
             value="jannunzi@gmail.com"
             placeholder="alice.wonderland@unicorn.com">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text"
             class="form-control"
             id="first-name"
             value="Jose"
             placeholder="Alice">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text"
             class="form-control"
             id="last-name"
             value="Annunziato"
             placeholder="Wonderland">
    </div>
  </form>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/website-list]">Websites</a>
  <a class="btn btn-danger btn-block "
     [routerLink]="['/login]" >Logout</a>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom sw-nav-blue">
  <div class="container-fluid">
    <a [routerLink]="['/profile]"
       class="navbar-text pull-right">
      <span class="glyphicon glyphicon-user sw-text-white"></span>
    </a>
  </div>
</nav>
