<nav class="navbar navbar-default navbar-fixed-top sw-nav-blue">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <a routerLink="/user/{{user._id}}"
       class="navbar-header pull-left navbar-brand thick">
      <b class="sw-text-white">Profile</b>
    </a>


    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click)="update(username, email, firstName, lastName)"
         class="navbar-link"
         routerLink="/user/{{user._id}}"
         href="#">
        <span class="glyphicon glyphicon-ok sw-text-white"></span>
      </a>
    </p>
  </div>
</nav>


<div class="container sw-body">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             name="username"
             [(ngModel)] = "username"
             placeholder="username">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email"
             class="form-control"
             id="email"
             name="email"
             [(ngModel)] = "email"
             placeholder="alice.wonderland@unicorn.com">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text"
             class="form-control"
             id="first-name"
             name="first-name"
             [(ngModel)] = "firstName"
             placeholder="Alice">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text"
             class="form-control"
             id="last-name"
             name="last-name"
             [(ngModel)] = "lastName"
             placeholder="Wonderland">
    </div>
  </form>

  <a class="btn btn-primary btn-block"
     routerLink="/user/{{user._id}}/website">Websites</a>
  <a class="btn btn-danger btn-block "
     routerLink="/login" >Logout</a>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom sw-nav-blue">
  <div class="container-fluid">
    <a routerLink="/user/{{user._id}}"
       class="navbar-text pull-right">
      <span class="glyphicon glyphicon-user sw-text-white"></span>
    </a>
  </div>
</nav>
