<!-- top navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/page-list"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left sw-text-black"></span>
      </a>
    </p>
    <a routerLink="/page-edit"
       class="pull-left navbar-brand thick">
      <b>New Page</b>
    </a>
    <a routerLink="/page-list"
       class="navbar-link navbar-text pull-right sw-icon-padding">
      <span class="glyphicon glyphicon-ok sw-text-black"></span>
    </a>
  </div>
</nav>

<!--pages list-->
<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="page-name">Name</label>
      <input type="text"
             id="page-name"
             placeholder="Blog name"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label for="page-title">Title</label>
      <input type="text"
             id="page-title"
             placeholder="Blog Title"
             class="form-control"/>
    </div>
    <div>
      <a routerLink="/page-list"
         class="btn btn-warning btn-block">Cancel</a>
    </div>
  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid navbar-text pull-right">
    <a routerLink="/profile">
      <span class="glyphicon glyphicon-user sw-icon-padding"></span>
    </a>
  </div>
</nav>
