body {
  padding-top: 70px;
  padding-bottom: 70px;
}

input {
  margin-bottom: 5px;
}

.nav-blue {
  background-color: #337ab7;
}

.text-white{
  color: #fff;
}

.borderless {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

.icon-padding {
  padding-right: 15px;
}
